
body{
	background: black !important;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left:100px;
	min-width:1200px;
	height:500px;
	position:relative;
	z-index: 1;
}


.main .ryu{
	float: left;
}


.ryu{
	width:659px;
	height:494px;
}



.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool{
	width:659px;
	height:494px;
}

 .ryu-ready, .ryu-throwing, .ryu-cool{
	display:none;
}


.ryu-ready{
	background-image: url('../images/ryu-ready.gif');
}

.ryu-still{
	background-image:url('../images/ryu-still.png');
}


.ryu-throwing{
	background-image:url('../images/ryu-hadouken.png');
}

.ryu-cool{
	background-image:url('../images/ryu-cool.gif');
}



.hadouken, .ryu-ready, .ryu-still, .ryu-throwing{
	background-repeat: no-repeat; 
}


.hadouken{
background-image:url('../images/hadouken.gif');
width:156px;
height:90px;
display:none;
position:absolute;
 z-index: 10;
top: 11rem;
 left: 34rem;
  float: left;

}




.hulk-ryu {
    filter: hue-rotate(90deg);
    	float: right;
    	position: absolute;
    	right: 1px;

}


.hulk-ryu {
	width:659px;
	height:494px;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


